<h1>Lenguajes de Programación</h1>
<h3 *ngIf="dataSource.length == 0">No hay Lenguajes de Programación para mostrar</h3>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource.length > 0">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="seniority">
      <th mat-header-cell *matHeaderCellDef> Nivel </th>
      <td mat-cell *matCellDef="let element"> {{element.seniority}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element"> 
        <span class="material-icons action-icon"
          (click)="editProgrammingLanguage(element)"
          #tooltip="matTooltip" 
          matTooltipPosition=left 
          matTooltip="Editar {{element.name}}">edit
        </span>
        <span class="material-icons action-icon"
          (click)="deleteProgrammingLanguage(element)"
          #tooltip="matTooltip" 
          matTooltipPosition=right 
          matTooltip="Delete {{element.name}}">delete
        </span>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
<div class="add">
  <button mat-raised-button color="primary" (click)="addProgrammingLanguage()">Agregar Lenguaje de Programación</button>
</div>